/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=VT323&display=swap');

/* layout */
:root {
  --strong-box-shadow-color:  0px 2px 4px 0px #00000040;
  --medium-box-shadow-color: 0px 0px 8px 3px #00000033;
  --light-box-shadow-color:  0px 0px 2px 2px #0000001A;
  --purple-background-color: #2E0039;
  --white-background-color: #FFFFFF;
  --grey-background-color: #E3E3E3;
  --purple-text-color: #2E0039;
  --white-text-color: #FFFFFF;
  --grey-text-color: #E3E3E3;
  --strong-grey-text-color: #676767;
}


.text-smaller {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.text-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.text-medium {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.text-big {
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  text-align: left;
}

.text-bigger {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
}


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100%;
}
#react-root {
  height: 100%;
  width: 100%;
}
.App {
  width: 100%; 
  margin: 0 auto; 
  background-color: var(--white-background-color); 
}

header {
  position: fixed;
  top: 0;
  height: 48px;
  width: 100%;
  box-shadow: var(--strong-box-shadow-color);
  display: flex;
  align-items: center;
  justify-content: center;
  
  div {
    align-items: center;
    display: flex;
    @media (min-width: 768px) {
      width: 717px;
    }
    @media (max-width: 767px) {
      width: 349px;
    }
  }
  h1 {
    color: var(--purple-text-color);
    margin-left: 8px;
  }
}
footer {
  position: fixed;
  bottom: 0;
  height: 39px;
  width: 100%;
  background-color: var(--purple-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 250px;
  }
  p {
    color:var(--white-text-color);
  }
}




main {
  @media (min-width: 768px) {
    max-width: 717px; 
    width: 717px;
  }
  @media (max-width: 767px) {
    max-width: 349px; 
    width: 349px;
  }
  margin: 0 auto; 
  .unitConverter {
    background-color: var(--purple-background-color);
    border-radius: 20px;
    box-shadow: var(--medium-box-shadow-color);
    overflow: hidden; 
    @media (min-width: 768px) {
      margin-top: 99px;
      padding: 30px 70px 30px 40px;
    };
    @media (max-width: 767px) {
      margin-top: 69px;
      padding: 13px 26px 18px 22px;
    };
    color: var(--white-text-color);
    .machine {
      margin-top: 25px;
      display: flex;
      @media (min-width: 768px) {
        flex-direction: row;
      };
      @media (max-width: 767px) {
        flex-direction: column;
        padding-right: 0;
      };
      justify-content: space-between;
      align-items: center;
      div {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
          height: 35px;
          justify-content: left;
          width: 100%;
        };
      }
      .initial-input-container {
        @media (min-width: 768px) {
          min-width: 284px;
        };
        @media (max-width: 767px) {
        };
      }
      select {
        cursor: pointer;
        margin-right: 13px;
        width: 218px;
        height: 25px;
        background-color: transparent;
        color: var(--white-text-color);
        outline: none;
        border:none;
        border-bottom: 2px solid var(--white-text-color);
        option {   
          color: #000;
        }
      }
      .reverse-conversion {
        position: relative;
        height: 35px;
        width: 35px;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 0.3s;
        &:hover {
          background-color: #e3e3e358;
        }
        img{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
      }
      input {
        @media (min-width: 768px) {
          width: 221px;
        };
        @media (max-width: 767px) {
          max-width: 218px;
          width: 218px;
          padding: 0;
        };
        background-color: transparent;
        color: var(--white-text-color);
        outline: none;
        border:none;
        border-bottom: 2px solid var(--white-text-color);
      }
      .initialunit {
        @media (min-width: 768px) {
          margin-left: 13px;
        };
        @media (max-width: 767px) {
          margin-left: 22px;
        };
      }
    }
    .results {
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .heart-container {
        position: relative;
        height: 35px;
        width: 35px;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 0.3s;
        &:hover {
          background-color: #e3e3e358;
        }
        img{
          margin-top: 1px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
      }
      .num {
        margin-right: 8px;
      }
    }
  }
  .conversionsList {
    @media (min-width: 768px) {
      margin-top: 90px;
    }
    @media (max-width: 767px) {
      margin-top: 30px;
    }
    display: flex;
    flex-direction: column;
    color: var(--strong-grey-text-color);
    padding: 0 8px;
    label{
      margin-left: 8px;
    }
    .conversions-container {
      display: grid;
      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr); 
        gap: 21px;
        margin-top: 22px;
        max-height: 400px;
      }
      @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr); 
        gap: 18px;
        margin-top: 13px;
        max-height: 250px;
      }
      padding: 5px;
      overflow-y: auto;
      .conversion-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px 0 18px;
        background-color: var(--grey-background-color);
        border-radius: 10px;
        height: 38px;
        box-shadow: var(--light-box-shadow-color);
        .xmark-container {
          position: relative;
          height: 25px;
          width: 25px;
          cursor: pointer;
          border-radius: 50%;
          z-index: 2;     
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
          }
        }
      }
    }
  }
}

h1 {
  margin:0;
}

/* For webkit browsers like Chrome, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.conversions-container::-webkit-scrollbar {
  width: 8px;
}

.conversions-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.conversions-container::-webkit-scrollbar-thumb {
  background: #888888b4;
}

.conversions-container::-webkit-scrollbar-thumb:hover {
  background: #888;
}